#Loader-Container {
    animation: fadein 1.4s ease-in forwards; /* faster, smoother */
    opacity: 0; /* start hidden */
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(-30px);
    }
  }