/* Welcome message fade-out */
.fade-text {
  opacity: 1;
  animation: fadeletter 0.5s forwards;
  display: inline-block;
  white-space: pre-wrap;
}

@keyframes fadeletter {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.center {
  opacity: 0;
  margin-top: 3em;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  animation: fadein 2s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


/* Loader waves */

.wave {
width: 3px;
height: 20px;
background: linear-gradient(45deg, rgb(255, 255, 255), #fff);
margin: 10px;
animation: wave 1s linear infinite;
border-radius: 20px;
}
.wave:nth-child(2) { animation-delay: 0.1s; }
.wave:nth-child(3) { animation-delay: 0.2s; }
.wave:nth-child(4) { animation-delay: 0.3s; }
.wave:nth-child(5) { animation-delay: 0.4s; }
.wave:nth-child(6) { animation-delay: 0.5s; }
.wave:nth-child(7) { animation-delay: 0.6s; }
.wave:nth-child(8) { animation-delay: 0.7s; }
.wave:nth-child(9) { animation-delay: 0.8s; }
.wave:nth-child(10){ animation-delay: 0.9s; }

@keyframes wave {
0% { transform: scale(0); }
50% { transform: scale(1); }
100% { transform: scale(0); }
}




g:nth-child(2) { animation-delay: 0.2s; }
g:nth-child(3) { animation-delay: 0.4s; }
g:nth-child(4) { animation-delay: 0.6s; }

@keyframes mkvisible {
  0%, 40%, 100% { opacity: 0; }
  20% { opacity: 1; }
}

/* Chat bubbles */
.user-msg {
  margin-top: 1rem;
  background: #181818;
  align-self: flex-end;
  border-radius: 1rem;
  width: 70%;
  padding: 0.5rem;
}
.bot-msg {
  margin-top: 1rem;
  background: #141414;
  align-self: flex-start;
  border-radius: 1rem;
  max-width: 70%;
  padding: 0.5rem;
}

/* Scrollbar */
#chat-container::-webkit-scrollbar {
  width: 1px;
  background-color: #141414;
}

/* Chat container fade-in */
.chat-container {
  opacity: 0;
  animation: comein 2s ease-in forwards;
  animation-delay: 1.6s;
}

@keyframes comein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(-8vh);
  }
}

.welcome-container{
  opacity: 1;
  animation-delay: 5s;
  animation: moveThis 2s ease-in forwards;
}

@keyframes moveThis {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-500px);
  }
}


/* Welcome message styling */
.welcome-msg {
  margin-top: 20vh;
  text-align: center;
  font-size: 1.5rem;
}
